{% extends 'layout/base.html' %}
{% block 'title' %}Iniciar sesión{% endblock %}
{% block 'content' %}
    {% if messages %}
        <div class="alert" role="alert">
            {% for message in messages %}
                <li {% if message.tags %} class="alert-success" style="color: green;" {% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
    {% endif %}
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Usuario:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" name="password">
        </div>
        <!-- {{ form.as_p }} -->
        <input type="submit" value="Iniciar sesión">
    </form>
{% endblock %}